@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.linearGradient {
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
}

.triangle {
  background-image: linear-gradient(#d9d9d9, #5c5c5c);
  mask-image: linear-gradient(black 30%, transparent);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 400px;
  height: 260px;
  opacity: 60%;
}

.triangle-right {
  background-image: linear-gradient(#d9d9d9, #5c5c5c);
  mask-image: linear-gradient(black 30%, transparent);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 450px;
  height: 310px;
  opacity: 60%;
}

.triangle-middle {
  background-image: linear-gradient(#d9d9d9, #5c5c5c);
  mask-image: linear-gradient(black 30%, transparent);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 650px;
  height: 510px;
  opacity: 60%;
}

.text-color {
  letter-spacing: 6px;
  color: #ddbd8f;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1)::after {
  animation-delay: 3s;
}

.line:nth-child(3)::after {
  animation-delay: 3.5s;
}

@keyframes drop {
  0% {
    top: 0;
  }
  100% {
    top: 110%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
